@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "konnect";
    src: url('/fonts/KonnectRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "konnect";
    src: url('/fonts/KonnectMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "konnect";
    src: url('/fonts/KonnectSemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "konnect";
    src: url('/fonts/KonnectBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    @apply font-mainFont;
}